<div class="card__weather weather-card">
    <div class="weather-card__container">
        <div class="weather-card__cover">
            <h3 class="weather-card__heading">Current Weather</h3>
            <div class="weather-card__img-cover">
                <img src={{weatherType.image}} alt="Weather Icon" class="weather-card__icon">
                <span class="weather-card__condition">{{weatherType.description}}</span>
            </div>
        </div>
        <div class="weather-card__cover">
            <h3 class="weather-card__heading">Current Temperature</h3>
            <p class="weather-card__temperature">Current: {{data.current_weather.temperature}}{{data.current_weather_units.temperature}}</p>
            <p class="weather-card__temperature">Lowest: {{minTemperature}}{{data.current_weather_units.temperature}}</p>
            <p class="weather-card__temperature">Highest: {{maxTemperature}}{{data.current_weather_units.temperature}}</p>
        </div>
    </div>
    <span class="weather-card__label">*Weather displayed for the current date</span>
</div>