<div class="card__user user-card">
    <img src={{userdata.results[0].picture.medium}} alt="User Avatar" class="user-card__avatar">
    <h2 class="user-card__username">
        {{userdata.results[0].name.title}} {{userdata.results[0].name.first}} {{userdata.results[0].name.last}}
    </h2>
    <span class="user-card__location">{{userdata.results[0].location.city}},
        {{userdata.results[0].location.country}}</span>
    <span class="user-card__gender">
        {{userdata.results[0].gender}}
    </span>
    <span class="user-card__email">
        {{userdata.results[0].email}}
    </span>
</div>
<app-get-weather [IsLoaded]="isLoaded" [userData]="userdata" (cardWeatherData)="handleCardWeatherData($event)"></app-get-weather>