.user-card {
    padding: 20px;
    text-align: center;

    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    &__username {
        margin: 10px 0 5px;
        font-size: 1.5rem;
    }

    &__location,
    &__gender,
    &__email {
        display: block;
        margin-top: 10px;
        color: #666;
    }
}

